/* app.css */
body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    color: white;
    margin: 0;
    padding: 0;
}

.titleBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.titleBar h1 {
    margin: 0;
    font-size: 56px;
}

.dataEntriesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#background-video {
    width: 80%;
    margin-bottom: 20px;
}

/* Style for COM port selector */
#com-port-selector {
    font-size: 16px;
    padding: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

/* Style for error messages */
#error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}

.dataEntry {
    text-align: center;
}

.displayDataEntry {
    font-size: 24px;
    margin-bottom: 20px;
}

.displayPhoto {
    max-width: 500px;
    border-radius: 20px;
}